.about{
    padding: 10px;
    margin: 2% 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    height: max-content;
    border-radius: 25px;
}
.about-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #ca4545;
    border-radius: 25px;
    padding: 1%;
}
.cont-left{
    width: 40%;
    height: 90%;
    background-color: #4b802f;
    padding: 2%;
}
.cont-right{
    width: 70%;
    height: 90%;
    background-color: #77802f;
    padding: 2%;
}